.config/**/
.retroarch/
ES-DE/downloaded_media/
ES-DE/gamelists/
ES-DE/logs/
ES-DE/settings/
binaries/*.AppImage
binaries/VERSION.*
exec/GITHUB_TOKEN
facades/**/*.log
logs/*.log
roms/
tmp/archive/
SETUP
tree.html
