#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RetroChamber Updater
GenericName=RetroChamber Updater
Comment=Updater for RetroArch, EmulationStation DE, BIOS & various standalone emulators
Exec=bash -c 'cd $(dirname %k) && ./exec/update.sh'
Terminal=true
Type=Application
Categories=Game;Emulator;
Keywords=Game;Emulator;Arcade;
